
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@0;1&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}





/*header*/
header{
    background-color: black;
    font-family: 'Arvo', serif;
    
}
h1 {
    font-style: oblique;
    text-align: center;
    }
h1{
    color: aliceblue;
}

header nav ul li a{
    flex-wrap: wrap;
    text-decoration:none;
    color: aliceblue;
    margin: 15px
}
header nav ul li a:hover{
    color: coral;
    transition-duration: 1s;
}
header nav ul{
    margin: 0px;
}
header nav ul li{
    margin: 15px;
    list-style: none;
}
header nav ul{
    list-style-type: style none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*main*/

.hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 75vh;
    background-image:url(../img/cristiano1.jpg);
    background-position:top;
    background-attachment: fixed
}
.hero iframe{
    margin: 30px;
    box-shadow: 4px 6px 5px 0px rgba(59,81,158,0.78);
    -webkit-box-shadow: 4px 6px 5px 0px rgba(59,81,158,0.78);
    -moz-box-shadow: 4px 6px 5px 0px rgba(59,81,158,0.78);
}
.hero h3{
    text-align: center;
    color: aliceblue;
    font-family: 'Arvo', serif;
    background-size: cover;
    font-size: 20px;
    width: 50%;
}
.hsporting h2{
    text-align: center;
    color: aliceblue;
    font-family: 'Arvo', serif;
    background-size: cover;
    font-size: 40px;
    width: 50%;
    text-align: initial;
    
}
.hsporting{
    display: flex;
    flex-direction:row;
    align-items: center;
    width: 100%;
    background-image:url(../img/fondoh.webp);
    background-position:top;
    background-attachment: fixed


}
.hsporting h3{
    text-align: center;
    color: aliceblue;
    font-family: 'Arvo', serif;
    background-size: cover;
    font-size: 15px;
    width: 65%;

}
.hmanchester{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-image: url(../img/fondoh.webp);
    background-position:top;
    background-attachment: fixed
}
.hmanchester h3{
    text-align: center;
    color: aliceblue;
    font-family: 'Arvo', serif;
    background-size: cover;
    font-size: 15px;
    width: 65%;
}
.hmanchester h2{
    text-align: center;
    color: aliceblue;
    font-family: 'Arvo', serif;
    background-size: cover;
    font-size: 40px;
    width: 50%;
    text-align: initial;
    
}
.hrealmadrid{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-image:url(../img/fondoh.webp);
    background-position:top;
    background-attachment: fixed;
}
.hrealmadrid h3{
    text-align: center;
    color: aliceblue;
    font-family: 'Arvo', serif;
    background-size: cover;
    font-size: 15px;
    width: 65%;
}
.hrealmadrid h2{
    text-align: center;
    color: aliceblue;
    font-family: 'Arvo', serif;
    background-size: cover;
    font-size: 40px;
    width: 50%;
    text-align: initial;
    
}

.hjuventus{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-image:url(../img/fondoh.webp);
    background-position:top;
    background-attachment: fixed;
}
.hjuventus h3{
    text-align: center;
    color: aliceblue;
    font-family: 'Arvo', serif;
    background-size: cover;
    font-size: 15px;
    width: 65%;
}
.hjuventus h2{
    text-align: center;
    color: aliceblue;
    font-family: 'Arvo', serif;
    background-size: cover;
    font-size: 40px;
    width: 50%;
    text-align: initial;
    
}
.hmanchester2{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-image:url(../img/fondoh.webp);
    background-position:top;
    background-attachment: fixed;
}
.hmanchester2 h3{
    text-align: center;
    color: aliceblue;
    font-family: 'Arvo', serif;
    background-size: cover;
    font-size: 15px;
    width: 65%;
}
.hmanchester2 h2{
    text-align: center;
    color: aliceblue;
    font-family: 'Arvo', serif;
    background-size: cover;
    font-size: 40px;
    width: 50%;
    text-align: initial;
    
}
.hportugal{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-image:url(../img/fondoh.webp);
    background-position:top;
    background-attachment: fixed;
}
.hportugal h3{
    text-align: center;
    color: aliceblue;
    font-family: 'Arvo', serif;
    background-size: cover;
    font-size: 15px;
    width: 65%;
}
.hportugal h2{
    text-align: center;
    color: aliceblue;
    font-family: 'Arvo', serif;
    background-size: cover;
    font-size: 40px;
    width: 50%;
    text-align: initial;
    
}
.herogoles h3{
    text-align: center;
    color: aliceblue;
    font-family: 'Arvo', serif;
    background-size: cover;
    font-size: 20px;
    width: 50%;
}
.herogoles{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 75vh;
    background-image:url(../img/cristiano1.jpg);
    background-position:top;
    background-attachment: fixed
}
.fgoles{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 75vh;
    background-position:top;
    background-image: url(../img/fondoof.jpg);
    background-attachment: fixed
   
}


.videogoles{
    margin: 30px;
    box-shadow: 4px 6px 5px 0px rgba(59,81,158,0.78);
    -webkit-box-shadow: 4px 6px 5px 0px rgba(59,81,158,0.78);
    -moz-box-shadow: 4px 6px 5px 0px rgba(59,81,158,0.78);
    
}
p{
    text-align: center;
    color: aliceblue;
    font-family: 'Arvo', serif;
    background-size: cover;
    font-size: 20px;
    width: 50%;
}

.galeria{
    background-color: black;
}
.galeria h2{
    color: aliceblue;
    text-align: center;
    font-family: 'Arvo', serif;
}
/*carrusel goles ------------------------------------*/
.carrusel div img{
    width: 100%;
    height: 450px;
    
}
.trofeosDestacados{
    background-image: url(../img/fondoof.jpg);
}
/*---------trofeos grid--------*/
.gridtrofeos{    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 300px;
    gap: 15px;
    object-fit: cover;
    background-color: black;
    
}
.gridtrofeos div img{
    width: 100%;
    height: 100%;
    box-shadow: 4px 6px 5px 0px rgba(59,81,158,0.78);
-webkit-box-shadow: 4px 6px 5px 0px rgba(59,81,158,0.78);
-moz-box-shadow: 4px 6px 5px 0px rgba(59,81,158,0.78);
}
.gridtrofeos h3{
    text-align: center;
    color: aliceblue;
    font-family: 'Arvo', serif;
}


.carrusel h5{
    color: black;
    font-family: 'Arvo', serif;
    background-color: aliceblue;
}

/*acordion goles*/ 
.acordeon { 
    background-color: black;}
/*--------------------------------grid galeria------------------*/
.gridgaleria{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 300px;
    gap: 15px;
    object-fit: cover;
   
}



.gridgaleria div img{
    width: 100%;
    height: 100%;
    box-shadow: 4px 6px 5px 0px rgba(59,81,158,0.78);
-webkit-box-shadow: 4px 6px 5px 0px rgba(59,81,158,0.78);
-moz-box-shadow: 4px 6px 5px 0px rgba(59,81,158,0.78);
}


/*familia---------------------*/
.familia{

    background-image:url(../img/cr7.jpg);
    background-position:top;
    background-attachment: fixed

}
.familia div h2{
    color: aliceblue;
    text-align: center;
    font-family: 'Arvo', serif;
}
.familia div h3{
    text-align: center;
    color: aliceblue;
    font-family: 'Arvo', serif;
    background-size: cover;
    font-size: 20px;
    width: 65%;
}
.hermanos{

    background-image:url(../img/cr7.jpg);
    background-position:top;
    background-attachment: fixed
}
.hermanos div h2{
    color: aliceblue;
    text-align: center;
    font-family: 'Arvo', serif;
}
.hermanos div strong{
    color: aliceblue;
    text-align: center;
    font-family: 'Arvo', serif;
    font-size: 25px ;
}
.hermanos div h3{
    text-align: center;
    color: aliceblue;
    font-family: 'Arvo', serif;
    background-size: cover;
    font-size: 20px;
    width: 65%;
}

.padres{
    background-image:url(../img/cr7.jpg);
    background-position:top;
    background-attachment: fixed
}
.padres div h2{
    color: aliceblue;
    text-align: center;
    font-family: 'Arvo', serif;
}
.padres div h3{
    text-align: center;
    color: aliceblue;
    font-family: 'Arvo', serif;
    background-size: cover;
    font-size: 20px;
    width: 65%;
}
.padres div strong{
    color: aliceblue;
    text-align: center;
    font-family: 'Arvo', serif;
    font-size: 25px ;
}
/*mediaquery flialsito*/
@media  screen and (max-width: 750px) {
    .hero h3{
        font-size: 10px;
        width: 100%;
    }
}

/*media query historialsirto*/
@media screen and (max-width: 450px){
    .hsporting h2{
        font-size: 25px;
    }
    .hmanchester h2{
        font-size: 25px;
    }
    .hrealmadrid h2{
        font-size: 25px;
    }
    .hjuventus h2{
        font-size: 25px;
    }
    .hmanchester2 h2{
        font-size: 25px;
    }
    .hportugal h2{
        font-size: 25px;
    }
}

/*footer*/
footer{
    background-color: black;
}
footer div a img{
    width: 50px;
    height: 50px;
}


/*media query galeria listo*/
@media screen and (max-width: 950px) {
    .gridgaleria{ 
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 220px;

    }
    
}
@media screen and (max-width: 450px){
    .gridgaleria{ 
        grid-template-columns: 1fr;
        grid-auto-rows: 220px;
    }
    }


/* media query header listpo*/
@media screen and (max-width: 700px) {
    .lista li{
        margin: 0px;
    }
}
@media screen and (max-width: 450px) {
    
    .lista {
        margin: 0px;
        flex-direction: column;
    }
}

/* media query del video listo */
@media screen and (max-width: 450px){
    .video{
        width: 220px;
        height: 220px;
    }
}
/*media query hergoles listo*/
@media screen and (max-width: 450px){
        .videogoles{
            width: 220px;
            height: 220px;
        }
}
@media  screen and (max-width: 1100px) {
    .herogoles h3{
        font-size: 15px;
        
    }
}
@media  screen and (max-width: 900px) {
    .herogoles h3{
        font-size: 15px;
        width: 100%;
    }
}
@media  screen and (max-width: 600px) {
    .herogoles h3{
        font-size: 10px;
        width: 100%;
    }
}
@media  screen and (max-width: 350px) {
    .herogoles h3{
        font-size: 10px;
        width: 100%;
    }
    
}

/* media query grid trofeos listo-----------------------*/
@media screen and (max-width: 450px){
    .gridtrofeos{ 
        grid-template-columns: 1fr;
        grid-auto-rows: 220px;
    }
    .gridtrofeos h3{
        font-size: 10px;
    }
    }
    /*media query p hero trofeos listo*/
@media screen and (max-width: 800px){
    .hero p{
        font-size: 15px;
    }
}
@media screen and (max-width: 500px){
    .hero p{
        font-size: 10px;
    }
}
