main{
    .hero{
            iframe{
                margin: 30px;
                }
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            height: 75vh;
            background-image:url(../img/cristiano1.jpg);
            background-position:top;
            background-attachment: fixed
            

            }

    section{
            background-color: black;
            h2{
                color: aliceblue;
                text-align: center;
                font-family: 'Arvo', serif;

            }
            .gridgaleria{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                grid-auto-rows: 300px;
                gap: 15px;
                object-fit: cover;
                div{
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        

    }
}

main{
    .herogoles{
        h3{
            text-align: center;
            color: aliceblue;
            font-family: 'Arvo', serif;
            background-size: cover;
            font-size: 20px;
            text-align: center;
            width: 50%;
        }
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 75vh;
        background-image:url(../img/cristiano1.jpg);
        background-position:top;
        background-attachment: fixed
        
    }
    .carrusel{
        div{
            img{
                width: 100%;
                height: 450px;
            }

            }
           
        h5{
            color: black;
            font-family: 'Arvo', serif;
            background-color: aliceblue;
        }
        
    }
}